<body id="caesar">
<h1>Ceasar Cipher Encoder</h1>
<div id="container">
    <form>
        <label for="phrase">Enter phrase to encode</label>
        <input class="box" type="text" name="phrase" /><br/>
        <label for="shift">Enter number to shift</label>
        <input class="box" type="text" name="shift" /><br/>
        <input class="button" type="submit" value="Encode!" />
    </form>
</div>
<div class="back-button">
    <form method="get" action="/">
        <input class="button" type="submit" value="Go Back" />
    </form>
</div>
<p><br/><%= encode != "" ? "Your ENCODED phrase is #{encode}" : "" %></p>
</body>