<body id="hangman">
<h1 id="title-hangman">Horror Hangman</h1>
<div id="start-button">
    <form method="get" action="/hang_game">
        <input id="play" class="button" type="submit" value="Start Horror..." />
    </form>
</div>
<div class="back-button">
    <form method="get" action="/">
        <input class="button" type="submit" value="Go Back" />
    </form>
</div>
</body>