<body id="sinatra">
    <h1>Sinatra Framework Demo</h1>
    <div id="container">
        <form method="get" action="/cipher">
            <input class="index-button button" type="submit" value="Caesar Cipher" />
        </form>
        <form method="get" action="/hangman">
            <input class="index-button button" type="submit" value="Hangman" />
        </form>
    </div>
</body>